* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Poppins', serif;
  color: #303133;
}

.container {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
}

img {
  vertical-align: top;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #303133;
  transition: all 0.3s ease;
}

.titulo-seccion h2 {
  font-size: 3.125rem;
  font-weight: 400;
  line-height: 3.6875;
  margin-bottom: 1.125rem;
  letter-spacing: -0.02em;
}

.titulo-seccion p {
  font-size: 1.25rem;
  color: #777;
}

header.menu-bar-pc {
  padding: 0 2.25rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #fff;
  width: 100%;
  position: fixed;
  z-index: 99;
  top: 0;
  min-height: 3.875rem;
}

nav.menu-principal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
}

.menu-principal a {
  display: inline-block;
  padding: 0.625rem 0;
  text-decoration: none;
}

#icon-menu {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 20px;
  top: 16px;
  font-size: 20px;
  background: #fafafa;
  color: #787878;
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 10px;
}

#icon-menu:hover {
  opacity: 0.8;
}

.main .portada {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 80px;
}

.main .portada .col {
  width: 50%;
  background: #c6b497;
  color: black;
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  margin: 0px;
}

.main .portada .col .foto {
  background-size: cover;
  background-position: center;
  width: 50%;
}

.main .portada .col .foto.izq {
  background-image: url(./img/card1.jpg);
  background-position: center;
}

.main .portada .col .foto.der {
  background-image: url(./img/portada10.jpg);
  background-position: center;
  width: 50%;
}

.main .portada .col .texto {
  width: 50%;
  padding: 5.5vw 3.375vw;
  text-align: center;
}

.main .portada .col .texto h2 {
  font-size: 2.8vmin;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 1.250rem;
}

.main .portada .col .texto p {
  font-size: 2.25vmin;
  line-height: 1.75;
}

.main .portada .col .foto-full {
  width: 100%;
  min-height: 20rem;
  background-size: cover;
  background-position: center;
}

.main .portada .col .foto-full.izq {
  background-image: url(./img/portada2.jpg);
  background-position: center;
}

.main .portada .col .foto-full.der {
  background-image: url(./img/card6.jpg);
  background-position: center;
}

.main .nosotros {
  padding: 5.625rem 0;
}

.main .nosotros .container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.main .nosotros .container .col.izq {
  width: 30%;
  border-right: 1px solid #eaeaea;
  display: flex;
  align-items: center;
  padding-right: 5%;
}

.main .nosotros .container .col.der {
  width: 70%;
  padding-left: 5%;
}

.main .nosotros .container .col.der .texto p {
  font-size: 1.125rem;
  line-height: 1.75;
  color: #777;
}

.productos {
  display: grid;
  justify-content: center;
}

.card {
  margin: 10px;

}

.card img {
  height: 300px;
  width: 300px;
  object-fit: cover;
}

.card p {
  text-align: center;
}

.main .contacto .container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 50px;
}

.main .contacto .formulario {
  position: relative;
  z-index: 3;
  background: #fff;
  max-width: 40.625rem;
  margin: 0 auto;
  padding: 2.25rem;
  margin-top: 40px;
  width: 90%;
}

.main .contacto .formulario .formulario_contacto .input-group {
  position: relative;
  margin-bottom: 2rem;
}

.main .contacto .formulario .formulario_contacto .input-group input[type="text"],
.main .contacto .formulario .formulario_contacto .input-group input[type="email"],
.main .contacto .formulario .formulario_contacto .input-group textarea {
  font-family: 'Poppins', serif;
  font-size: 1rem;
  color: #303133;
  width: 100%;
  outline: none;
  padding: 0.9375rem 0;
  background: none;
  border: none;
  border-bottom: 2px solid rgba(180, 151, 90, 0.5);
  vertical-align: top;
}

.main .contacto .formulario .formulario_contacto .input-group input[type="text"]:focus,
.main .contacto .formulario .formulario_contacto .input-group input[type="email"]:focus,
.main .contacto .formulario .formulario_contacto .input-group textarea:focus {
  border-bottom: 2px solid #b4975a;
}

.main .contacto .formulario .formulario_contacto .input-group textarea {
  max-width: 100%;
  max-height: 10.25rem;
  min-height: 5.125rem;
  min-width: 100%;
}

.main .contacto .formulario .formulario_contacto .input-group label {
  color: #777;
  font-family: 'Poppins', serif;
}

.main .contacto .formulario .formulario_contacto .input-group label.label {
  position: absolute;
  top: 1rem;
  left: 0;
  font-size: 1rem;
  line-height: 1rem;
  margin-left: 1rem;
  transition: all 0.3s ease;
}

.main .contacto .formulario .formulario_contacto .input-group label.label.active {
  top: -0.75rem;
  margin-left: 0;
  font-size: 0.75rem;
  line-height: 0.75rem;
  color: #777;
}

.main .contacto .formulario .formulario_contacto .input-group .error {
  position: absolute;
  color: #ff3b3b;
  font-family: 'Poppins', serif;
  font-size: 0.875rem;
}

.main .contacto .formulario .formulario_contacto input[type="submit"] {
  font-family: 'Poppins', serif;
  background: #c6b497;
  color: #fff;
  border-radius: 5px;
  border: 2px solid #fff;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  margin-top: 3.125rem;
  padding: 0.9375rem;
  width: 30%;
  outline: none;
  transition: all 0.3s ease;
}

.main .contacto .formulario .formulario_contacto input[type="submit"]:hover {
  background: #977c44;
}

.contacto .titulo-seccion p {
  margin-top: 100px;
  margin-bottom: 10px;
}

footer {
  margin-top: 2.25rem;
  background:#c6b497;
  padding: 5.625rem 0;
  text-align: center;
  color: #fff;
  display: block;
}

.social-link {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 10px;
  background-size: 50px 50px;
}

.social-link.facebook {
  background-image: url('./img/logofacebook.svg');
}

.social-link.instagram {
  background-image: url('./img/logoinstagram.svg');
}

.seguinos {
  color: black;
  font-size: 150%;
  margin-bottom: 20px;
}

/* Responsive Desingn */
@media all and (max-width: 1212px) {

  .main .portada .col .texto {
    padding: 1.375rem;
  }
}

@media all and (max-width: 1024px ) {
  .main {
    width: 100%;
    flex-direction: column;
  }

  .card {
    display: flex;
    justify-content: center;
    max-width: 280px;
    margin: 10px;
  }
}